<!DOCTYPE html>
<html>

<head>

    <title>Products</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <div class="container">

        <h1>Product Management System</h1>

        <table>

            <thead>

                <tr>

                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>

                </tr>

            </thead>

            <tbody id="data">

            </tbody>

        </table>

    </div>

    <script src="/static/script.js"></script>

</body>

</html>