<!doctype html>
<html>
<head>
 <title>My Products</title>
<style>
	body{
		font-family:sans-serif;
		background-color:white;
	}
	h1{	color:blue;
		text-align:center;}
	table{
		background-color:white;
		margin:20px auto;
		width:40%;
		border-collapse:collapse;
		text-align:center;
	}
	th{
		background-color:yellow;

		color:brown;
		
	}
	th,td{
		border:1px solid black;
		padding:6px;

		text-align:center;}
	tr:hover td{
		background-color:pink;
	}
	tr:nth-child(even) td{ color:skyblue}
</style>
</head>
<body>
	<h1>Products</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
	 {% for p in products %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.price }}</td>
    </tr>
    {% endfor %}

</table>
</body>
</html>